@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/inter-bold-english.woff2') format('woff2'),
      url('/src/assets/fonts/inter-bold-english.woff') format('woff'),
      url('/src/assets/fonts/inter-bold-english.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/src/assets/fonts/inter-extrabold-english.woff2') format('woff2'),
      url('/src/assets/fonts/inter-extrabold-english.woff') format('woff'),
      url('/src/assets/fonts/inter-extrabold-english.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/inter-medium-english.woff2') format('woff2'),
      url('/src/assets/fonts/inter-medium-english.woff') format('woff'),
      url('/src/assets/fonts/inter-medium-english.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/inter-regular-english.woff2') format('woff2'),
      url('/src/assets/fonts/inter-regular-english.woff') format('woff'),
      url('/src/assets/fonts/inter-regular-english.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/inter-semibold-english.woff2') format('woff2'),
      url('/src/assets/fonts/inter-semibold-english.woff') format('woff'),
      url('/src/assets/fonts/inter-semibold-english.ttf') format('truetype');
}