// H settings
h1 {
  font-size: 46px;
  line-height: 68px;
  font-weight: 500;
}

h2 {
  font-size: 38px;
  line-height: 56px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

h6 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

// remove style for default select global
select {
  -webkit-appearance: none;    // Для Chrome и Safari
  -moz-appearance: none;      // Для Firefox 
  appearance: none;           // Стандартное свойство
}

// remove font weight bold for elements table (global)
tr, th, td {
  font-weight: inherit;
}

// loader for async load images
/* HTML: <div class="loader"></div> in component UiImage */
.loader {
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-500);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

// swiper slider styles (global)
.swiper {
  overflow: visible !important;
}

// vue toggle styles (global)
.vue-toggles__dot {
  width: 14px !important;
  height: 14px !important;
  margin-left: 2px !important;
}

.vue-toggles__dot-active {
  margin-left: 14px !important;
}

// style for libraries for front-main-page
.front-main-page {

  // swiper slider
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    max-width: 360px;
    cursor: pointer;
  }

  .swiper-pagination {
    bottom: -46px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--action-focus);
  }

  .swiper-pagination-bullet-active {
    width: 38px;
    border-radius: 30px;
    background: var(--action-disabled);
  }

  // vue slider range
  .vue-slider {
    padding: 0 !important;
    height: 6px !important;
  }

  .vue-slider-rail {
    background-color: rgba(var(--primary-opacity), 16%);
  }

  .vue-slider-process {
    background-color: var(--primary-500);
  }

  .vue-slider-dot-tooltip-inner {
    padding: 4px 10px;
    border-color: transparent;
    background-color: var(--snackbar);
    color: var(--body-bg);
  }

  .vue-slider-dot {
    width: 22px !important;
    height: 22px !important;
  }

  .vue-slider-dot-handle {
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-500);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .vue-slider-dot-handle-focus {
    position: relative;
    &::after {
      content: '';
      width: 38px;
      height: 38px;
      top: 50%;
      left: 50%;
      opacity: 100;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: rgba(var(--primary-opacity), 16%);
      border-radius: 50%;
      z-index: -1;
    }
  }
}

// transition settings
.popup-enter-active,
.popup-leave-active {
  transition: all 0.5s ease;
}

.popup-enter-from, 
.popup-leave-to {
  transform: translateY(-150px);
  opacity: 0;
}

